<template>
  <div>
    <form class="containerUsers" v-on:submit.prevent="adduser">
      <div>
        <div>
          <label for="name">Name</label>
          <br>
          <input type="text" id="name" placeholder="Enter your name" v-model="name" required>
        </div>
        <div>
          <label for="Age">Age</label>
          <br>
          <input type="number" id="Age" placeholder="Enter your age" v-model="age"
          >
        </div>
        <div>
          <label for="Comment">Enter your comment</label>
          <br>
          <textarea id="Comment" placeholder="Enter your comment" v-model="text"></textarea>
        </div>
      </div>
      <button type="submit" style="height: 100px; width: 100px">ADD USER</button>
    </form>

    <p>ALL USERS</p>
    <div class="containerUsers">
      <div v-for="(x,index) in lists" :key="x.age" class="vasya">
        <p>NAME: {{ x.name }}</p>
        <p>AGE: {{ x.age }}</p>
        <p>COMMENT: {{ x.text }}</p>
        <button v-on:click="indexInArray=index; DelateUser()">Delete user</button>
      </div>
    </div>
    <div class="btncenter">
      <button v-on:click="ShowPrevios" v-show="currentPage>1 && Users.length>perPage">Previus page</button>
      <button v-on:click="shownext" v-show="1===lastPage && Users.length>perPage">Next page</button>
    </div>
  </div>

</template>

<script>
export default {
  name: "App",
  data() {
    return {
      name: null,
      text: '',
      age: '***',
      Users: [
        {name: 'Vasya', text: 'Hi. Nice to meet you.', age: 23},
        {name: 'John', text: 'Hello everyone', age: 16},
        {name: 'Kine', text: 'Glad to see you', age: 60},
        {name: 'Kite', text: 'Bye', age: 35},
        {name: 'Devid', text: 'I help you out', age: 45},
        {name: 'Vasya', text: 'Hi', age: 37},
        {name: 'Ivan', text: 'Bye', age: 15},
        {name: 'Vadim', text: 'Welcome here', age: 19},
        {name: 'Sergey', text: 'Bye', age: 15},
        {name: 'Mukola', text: 'See you around', age: 22}
      ],
      indexInArray:0,
      perPage: 4,
      currentPage: 1
    }
  },
  computed: {
    countPageCalc() {
      return Math.ceil(this.Users.length / this.perPage)
    },
    lists() {
      const items = this.Users;
      // Return just page of items needed
      return items.slice(
          (this.currentPage - 1) * this.perPage,
          this.currentPage * this.perPage
      )
    },
    lastPage(){
      if(this.currentPage===this.countPageCalc){
        return 0
      }else {
        return 1
      }
    },
    Del(){
      if (this.currentPage === 1) {
        return this.indexInArray
      } else {
        return this.perPage*(this.currentPage-1)+this.indexInArray
      }
    }
  },
  methods: {
    adduser() {
      if (this.age>0 && this.age<120) {
        this.age === this.age
      } else {
        this.age = '-'
      }

      if (this.text.trim().length === 0) {
        this.text = '-'
      }

      let arrayWord = this.text.trim().split(/\s+/)
      let count = arrayWord.length
      let arrayEghtWords = []
      if (count > 8) {
        for (let i = 0; i < 8; i++) {
          arrayEghtWords.push(arrayWord[i])
        }
        this.text = arrayEghtWords.join(' ') + " ..."
      }

      let user = {
        name: this.name,
        age: this.age,
        text: this.text
      }
      this.Users.push(user)
      this.name = null
      this.age = ''
      this.text = ''
      this.currentPage = this.countPageCalc
    },
    shownext() {
      if (this.currentPage < this.countPageCalc) {
        this.currentPage += 1
      }
    },
    ShowPrevios() {
      if (this.currentPage > 1) {
        this.currentPage -= 1
      }
    },
    DelateUser() {
      this.Users === this.Users.splice(this.Del, 1)
    }
  }
}

</script>

<style>
form {
  background-color: yellow;
  width: 500px;
  height: 200px;
}

textarea {
  height: 50px;
}

button {
  margin: 30px 0 0 30px;
  background-color: red;
}

input {
  height: 20px;
}

input, textarea {
  width: 350px;
  padding-left: 10px;
}

.vasya {
  background-color: orange;
  width: 200px;
  color: white;
  padding: 3px;
  margin: 10px;
}

.containerUsers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btncenter {
  display: flex;
  justify-content: center;
}
</style>